{% extends 'base/main.html' %}
{% block content %}

<html>

<body>
    <div class="header-bar">
        <h1>KitaBazaar</h1>

        <table>

            {% if request.user.is_superuser == 1%}
            <tr><a href="/admin/">Admin</a></tr>
            {%endif%}
            {% if request.user.is_authenticated %}
            <tr><a href="{% url 'logout'%}">Logout</a></tr>
            {%endif%}
           
        </table>


    </div>

    <div class="card-body">
        {%if request.user.is_authenticated%}
        <p>Welcome <a href="{% url 'profiledetails'%}">{{request.user}}</a> !</p>
        <table>
            <tr>

                <td>
                    <div class="hyperlink">
                        <a href="{% url 'enlist'%}">Enlist product</a>
                    </div>
                </td>
                <td>
                    <div class="hyperlink">
                        <a href="{% url 'myproducts'%}">My Products</a>
                    </div>
                </td>
                <td>
                    <div class="hyperlink">
                        <a href="{% url 'myorders'%}">My Orders</a>
                    </div>
                </td>
                <td>
                    <div class="hyperlink">
                        <a href="{% url 'mysold'%}">SOLD!</a>
                    </div>
                </td>
            </tr>
        </table>
        <p>
        <form method="get">
            SEARCH BY:
            <br>
            <table style="margin: 10px;">
                <tr>
                    <td>
                        Book:
                    </td>
                    <td colspan="12">
                        <input class="button" type="text" name="bookname" value={{show_bookname}}>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Author:
                    </td>
                    <td colspan="12">
                        <input class="button" type="text" name="author" value={{show_author}}>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        Price:
                    </td>
                    <td colspan="1">
                        <input class="button" type="number" name="min_price" maxlength="4" size="4" value={{showprice1}}
                            placeholder="min">
                    </td>
                    <td></td>
                    <td colspan="1">
                        <input class="button" type="number" name="max_price" maxlength="4" size="4" value={{showprice2}}
                            placeholder="max">
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                    
                </tr>
                <tr>
                    <td>Sort:</td>
                    <td colspan="1">
                        <select name="sort">
                            <option value=1>Low-High</option>
                            <option value=0>High-Low</option>
                        </select>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        Branch:
                    </td>
                    <td colspan="2">
                        <select name="branch">
                            <option value="">-</option>
                            {% for branch in branchlist %}
                            <option value={{branch}}>{{branch}}</option>
                            {% endfor %}
                        </select>
                    </td>

                </tr>
                <tr>
                    <td>
                        Course:
                    </td>
                    <td colspan="2">
                        <select name="course">
                            <option value="">-</option>
                            {% for course in courselist %}
                            <option value={{course.courseID}}>{{course}}</option>
                            {% endfor %}
                        </select>
                    </td>

                </tr>
                <tr>
                    <td>
                        <input class="button" type="submit" value="Go">
                    </td>

                </tr>
            </table>
        </form>
        </p>

        {% for product in productslist %}
        <div class="unsold">
            <p>
                BOOK:<a href="">{{product.bookID.bookName}}</a>
                <br>
                Edition: {{product.bookID.edition}}
                <br>
                WRITTEN BY: {{product.bookID.author_names}}
                <br>
                PRICE: Rs {{product.price}}
                <br>
                {%for pphoto in product.product_photos|slice:":1" %}
                <img src="{{pphoto.url}}" alt="MISSING JPG" height="100">
                {%endfor%}
                <br>
                <a href="{% url 'productdetails' product.id %}">Details</a>
            </p>
        </div>
        {% endfor %}
        {% else %}
        <a href="/login">Login</a>
        {%endif%}
    </div>

</body>

</html>

{% endblock content %}