{% extends 'base/main.html' %}
{% block content %}

<html>
    <body>
        <div class="header-bar">
            <h1 font-family="Arial">
                MY ENLISTED PRODUCTS
            </h1>
        </div>
        {%csrf_token%}
        {% for product in myproductslist %}
            {% if product.sold %}
            <div class="sold">
                <h3>
                    SOLD!!
                </h3>
                <p>
                BOOK:<a href="">{{product.bookID.bookName}} edition: {{product.bookID.edition}}</a>
                <br>
                WRITTEN BY: {{product.bookID.author_names}}
                <br>
                PRICE: Rs {{product.price}}
                <br>
                {%for pphoto in product.product_photos|slice:":1" %}
                    <img src="{{pphoto.url}}" alt="MISSING JPG" height="100">
                {%endfor%}
                </p>
            </div>
            {% else %}
            <div class="unsold">
                <h3>
                    IN MARKET
                </h3>
                <p>
                BOOK:<a href="">{{product.bookID.bookName}}</a>
                <br>
                Edition: {{product.bookID.edition}}</a>
                <br>
                WRITTEN BY: {{product.bookID.author_names}}
                <br>
                PRICE: Rs {{product.price}}
                <br>
                {%for pphoto in product.product_photos|slice:":1" %}
                    <img src="{{pphoto.url}}" alt="MISSING JPG" height="100">
                {%endfor%}
                <table style="border-spacing: 20px;">
                    <tr>
                        <td>
                            <a href="{% url 'deleteproduct' product.id %}">Delete this item</a>
                        </td>
                        <td>
                            <a href="{% url 'updateproduct' product.id %}">Update this item</a>
                        </td>
                    </tr>
                </table>
                </p>
            </div>
            {% endif %}
        {%endfor%}
    </body>
</html>

{% endblock content %}