{% extends 'base/main.html' %}
{% block content %}

<html>
<body>
    <div class="header-bar">
        <h1>{{product.bookID.bookName}}</h1>
    </div>
<br>
<div class="card-body">
    <p>
        <form method="POST">
        {%csrf_token%}
        Price: {{product.price}}
        <br>
        Author: {{product.bookID.author_names}}
        <br>
        Courses: {{product.bookID.course_names}}
        <br>
        Edition number: {{product.bookID.edition}}
        <br>
        Seller: {{product.sellerID.user.firstName}}, ID: {{product.sellerID.bitsID}}
        <br>
        Photos:
        {%for pphoto in product.product_photos %}
                <img src="{{pphoto.url}}" alt="MISSING JPG" height="100">
        {%endfor%}
        {{transaction}}
        <br><br>
        <input class="button" type="submit" value="Buy">
        </form>
        
    </p>
</div>

</body>
</html>

{% endblock content %}