{% extends 'base/main.html' %}
{% block content %}

<html>
<body>
    <div class="header-bar">
        <h1>{{product.bookID.bookName}}</h1>
    </div>
<br>
<div class="card-body">
    <p>
        <form method="POST">
        {%csrf_token%}
        <table>
        <tr>
            <td>
                Price: 
            </td>
            <td>
                {{product.price}}
            </td>
        </tr>
        
        <tr>
            <td>
                Author: 
            </td>
            <td>
                {{product.bookID.author_names}}
            </td>
        </tr>
        
        <tr>
            <td>
                Courses: 
            </td>
            <td>
                {{product.bookID.course_names}}
            </td>
        </tr>
        
        <tr>
            <td>
                Edition: 
            </td>
            <td>
                {{product.bookID.edition}}
            </td>
        </tr>
        
        <tr>
            <td>
                Seller: 
            </td>
            <td>
                {{product.sellerID.user.username}}
            </td>
        </tr>
        <tr>
            <td>
                ID: 
            </td>
            <td>
                {{product.sellerID.bitsID}}
            </td>
        </tr>
        </table>
       
        {%for pphoto in product.product_photos %}
                <img src="{{pphoto.url}}" alt="MISSING JPG" height="100">
        {%endfor%}
        {{transaction}}
        <br><br>
        <input class="button" type="submit" value="Buy">
        </form>
        
    </p>
</div>

</body>
</html>

{% endblock content %}