<html>
    <body>
        <table>
            <tr>
                <td>
                    BITS ID:
                </td>
                <td>
                    {{profile.bitsID}}
                </td>
            </tr>
            <tr>
                <td>
                    Phone: 
                </td>
                <td>
                    {{profile.phoneNumber}}
                </td>
            </tr>
            <tr>
                <td>
                    Hostel Name:
                </td>
                <td>
                    {{profile.hostelName}}
                </td>
            </tr>
            <tr>
                <td>
                    Room Number:
                </td>
                <td>
                    {{profile.roomNumber}}
                </td>
            </tr>
            <tr>
                <td>
                    Wallet: Rs
                </td>
                <td>
                    {{profile.wallet}}
                </td>
            </tr>
        </table>
    </body>
</html>